# Node things
/node_modules

# Storybook things
/storybook-static
/stories
/.storybook

# Source files
/src
index.js

# Babel & Terser
/babel-dist
.babelrc
minify.js

# Logs & locks
*.lock
*.log

# Documentation
documentation.md
stylish.png